<div class="parent-container container-fluid d-flex flex-column justify-content-center align-items-center">
    <h2>Register Job Seeker</h2>
    <div class="container myForm d-flex flex-column justify-content-center align-items-center border border-1 p-3 shadow">
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="container-fluid">
      <div class="form-group">
        <label class="labels">Username</label>
        <input type="text" class="form-control input-fields"  formControlName="username" [ngClass]="{'is-invalid': submitted && f['username'].errors, 'is-valid': !f['username'].errors}">
        <div *ngIf="submitted && f['username'].errors" class="invalid-feedback"></div>
        <div class="valid-feedback" *ngIf="!f['username'].errors">username is valid</div>
        <div *ngIf="f['username'].errors?.['required']" class="text-danger mx-1">username is required</div>
        <div *ngIf="f['username'].errors?.['pattern']" class="text-danger">username is invalid</div>
      </div>
      <div class="form-group">
        <label class="labels">Email</label>
        <input type="email" class="form-control input-fields"  formControlName="email" [ngClass]="{'is-invalid': submitted && f['email'].errors, 'is-valid': !f['email'].errors}">
        <div *ngIf="submitted && f['email'].errors" class="invalid-feedback"></div>
        <div class="valid-feedback" *ngIf="!f['email'].errors" >email is valid</div>
        <div *ngIf="f['email'].errors?.['required']" class="text-danger mx-1">email is required</div>
        <div *ngIf="f['email'].errors?.['email']" class="text-danger mx-1">email is invalid</div>
      </div>
      <div class="form-group">
        <label class="labels">Password</label>
        <input type="password" class="form-control input-fields"  formControlName="password" [ngClass]="{'is-invalid': submitted && f['password'].errors, 'is-valid': !f['password'].errors && f['password'].value.length>=14}" autocomplete="new-password">
        <div *ngIf="submitted && f['password'].errors" class="invalid-feedback"></div>
        <app-password-strength-component [passwordToCheck]="registerForm.value.password" (passwordStrength)="onPasswordStrengthChanged($event)"></app-password-strength-component>
        <div class="valid-feedback" *ngIf="!f['password'].errors" >password is valid</div>
        <div *ngIf="f['password'].errors?.['required']" class="text-danger mx-1">password is required</div>
        <div *ngIf="f['password'].errors && !f['password'].errors?.['required']" class="text-danger mx-1">password length invalid</div>
      </div>
      <button type="submit" class="btn btn-primary mt-3" [disabled]="registerForm.invalid">Register</button>
    </form>
    </div>
    <div class="other-options">
        Register as an <a routerLink="/register-employer">Employer</a>
        <br>
        OR
        <br>
        Login as an <a routerLink="/login-seeker">Job Seeker</a>
    </div>
  </div>