<div class="hero-section-wrapper container-fluid p-0">
    <div class="hero-section d-flex flex-column flex-md-row justify-content-md-center">
        <div class="d-flex flex-column px-3 p-md-0 mt-3 my-md-auto col-md-5 gap-2">
            <div>
                <h2 class="hero-title text-center text-md-start">{{heroTitle}}</h2>
            </div>
            <div class="text-center text-md-start mb-3 mb-md-0">
                <div class="d-flex flex-column gap-2">
                    <p class="hero-text p-0 m-0">{{heroText}}</p>
                    <div class="get-started-btn">
                        <button class="btn btn-primary px-2 py-1" routerLink="/create-seeker-profile">Get Started</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="hero-img">
            <img class="my-auto" src="../../../assets/frontpage-removebg-preview.png" alt="">
        </div>
    </div>
    <div class="container-fluid divider p-0 m-0">
    </div>
    <div *ngIf="this.currentRole === 'SEEKER'" class="recommendation-bg py-3">
        <h2 class="recommendation-title text-center text-white my-md-4"><strong>Recommended Jobs For You</strong></h2>
        <div class="mt-md-5">
            <div class="listing-list-container d-flex flex-column flex-md-row container mx-auto gap-md-2 gap-lg-5 m-0 p-0 py-4 pb-md-5">
                <div *ngFor="let listing of recommendedJobs" class="listing-container container shadow my-2 py-2 py-lg-3 px-md-3 bg-white">
                  <div *ngIf="true">
                    <div class="listing-detail">
                      <div class="d-flex flex-column justify-content-center">
                        <div class="listing-headers mb-sm-2">
                          <p class="listing-title m-0">{{listing.profile}}</p>
                          <!-- company name -->
                          <p class="listing-companyName m-0">{{listing.companyName}}</p>
                          <p class="listing-department m-0">{{listing.department}}</p>
                        </div>
                        <div class="all-listing-icon-containers mb-sm-1">
                          <div class="listing-icon-container">
                            <i class="fa fa-map-marker" aria-hidden="true"></i>
                            <p class="listing-body-contents my-auto">{{listing.location}}</p>
                          </div>
                            <div class="d-md-flex flex-md-row justify-content-md-between">
                              <div class="d-flex justify-content-between">
                                <div class="listing-icon-container">
                                  <i class="fa fa-calendar" aria-hidden="true"></i>
                                  <p class="listing-body-contents my-auto">Date posted: {{listing.postDate}}</p>
                                </div>
                                <div class="listing-icon-container d-md-none">
                                  <i class="fa fa-inr" aria-hidden="true"></i>
                                  <p class="listing-body-contents my-auto">{{listing.salary}}</p>
                                </div>
                              </div>
                                <div class="listing-icon-container">
                                  <i class="fa fa-briefcase" aria-hidden="true"></i>
                                  <p class="listing-body-contents my-auto">Experience: {{listing.experienceReqFrom}}-{{listing.experienceReqTo}} years</p>
                                </div>
                                <div class="listing-icon-container d-none d-md-flex">
                                  <i class="fa fa-inr" aria-hidden="true"></i>
                                  <p class="listing-body-contents my-auto">{{listing.salary}}</p>
                                </div>
                            </div>
                          </div>
                            <div class="listing-footer mt-2">
                              <div *ngIf="listing.listingStatus.toLowerCase() ==='open'" class="listing-status-open px-2">Listing {{listing.listingStatus}}</div>
                              <div *ngIf="listing.listingStatus.toLowerCase() ==='closed'" class="listing-status-closed px-2">Listing {{listing.listingStatus}}</div>
                            </div>
                      </div>
                      <div class="w-100 border border-1 my-2"></div>
                      <!-- <div class="btn-container d-flex justify-content-end px-2">
                        <button class="apply-btn btn btn-primary" routerLink="/apply-for-job" (click)="apply(listing)">View Details</button>
                      </div> -->
                    </div>
                  </div>
                </div>
              </div>
              <div class="text-center mt-2"><button class="btn btn-primary" routerLink="/search-jobs">Apply Now</button></div>
        </div>
    </div>
    <div *ngIf="this.currentRole === 'EMPLOYER'" class="recommendation-bg py-3">
      <h2 class="recommendation-title text-center text-white my-md-4"><strong>Post a listing</strong></h2>
    </div>
</div>