
<!-- <app-nav-bar></app-nav-bar> -->
<!-- <app-sidenav (onToggleSideNav)="onToggleSideNav($event)"></app-sidenav>
<app-body
[collapsed]="isSideNavCollapsed"
[screenWidth]="screenWidth"
></app-body> -->
<!-- <router-outlet></router-outlet> -->

<body>
    <nav>
        <ul class="menu">
            <li class="logo"><a href="#">Career Crafter</a></li>
            <li class="item"><a routerLink="/homepage">Home</a></li>
            <li *ngIf="this.currentRole === 'SEEKER'" class="item"><a routerLink="/search-jobs">Jobs</a></li>
            <li *ngIf="this.currentRole === 'SEEKER'" class="item"><a routerLink="/myapplications">Your Applications</a></li>
            <li *ngIf="this.currentRole === 'SEEKER'" class="item"><a routerLink="/create-seeker-profile">My Profile</a></li>
            <li *ngIf="this.currentRole === 'SEEKER'" class="item"><a routerLink="/edit-resume">Edit Resume</a></li>
            

            <li *ngIf="!isLoggedIn" class="item button"><a class="text-white" (click)="login()">Log In</a></li>
            <li *ngIf="!isLoggedIn" class="item button secondary"><a class="text-white" routerLink="/register-employer">Sign Up</a></li>
            
            <li *ngIf="loginService.session && currentRole === 'EMPLOYER'" class="dropdownmenu">
                <div class="">
                    <div>
                        <img [src]="this.profileIImage" alt="">
                    </div>
                    <div>

                    </div>
                </div>
            </li>

            
            <li *ngIf="isLoggedIn" class="item button secondary"><a routerLink="/logout" (click)="logout()">Logout</a></li>
            
            <li class="toggle" (click)="toggleMenu()"><span class="bars"></span></li>

        </ul>
    </nav>
    <router-outlet></router-outlet>
</body>



