<!-- <header class="header-container container-fluid shadow-lg">
    <div class="logo">CareerCrafter</div>
    <div class="nav-container d-flex flex-row align-items-center">
        <div class="nav-links"><a >Home</a></div>
        <div class="nav-links">
            <a href="">Jobs</a>
            <ul class="dropdown mt-4">
                <li class="dropdown-item"><a href="">By Categories</a></li>
                <li class="dropdown-item"><a href="">By Location</a></li>
            </ul>
        </div>
        
        <div class="nav-links"><a href="">About Us</a></div>
    </div>
    <div class="authOption">
        <div>
            <a routerLink="/register-employer">Register</a>
            /
            <a routerLink="/login-employer">Login</a>
        </div>
    </div>
</header> -->
<!-- <app-nav-bar></app-nav-bar> -->
this is home