<div class="container-fluid pt-2">
    <div class="container-fluid p-0 m-0 px-lg-5 text-center">
        <h1 class="heading">Create/Update Profile</h1>
        <div class="container border border-1 rounded-2 p-3 px-sm-4 px-md-5 col-lg-8 pt-md-5 mx-auto form-parent">
            <form [formGroup]="createProfileForm" (ngSubmit)="createProfile()">
                <div class="form-group">
                    <div class="d-flex container m-0 mb-2 mb-sm-3 mb-md-4 p-0">
                        <div class="enabled-fields form-group d-flex flex-column justify-content-center container m-0 mb-2 p-0" >
                            <img class="profile-pic" [src]="pictureUrlLink" alt="">
                            <input class="btn profile-pic-btn mt-2" type="file" (change)="selectFile($event)">
                            
                        </div>
                       
                    </div>
                    <div class="d-flex container m-0 mb-2 mb-sm-3 mb-md-4 p-0 ">
                        <div class="disabled-fields d-flex flex-row justify-content-between w-100">
                            <!-- pre defined name here -->
                            <input class="form-control" type="text" disabled value="{{this.currentUser.name}}"  >
                        
                            <input class="form-control" type="email" disabled value="{{this.currentUser.email}}">
                        </div>
                    </div>
                <div class="">
                  
                    <div class="enabled-fields form-group d-flex justify-content-between container m-0 mb-2 p-0 ">
                        <div class="d-flex flex-column w-100">
                            <input class="form-control w-100" type="text" placeholder="Phone number"  formControlName="phoneNumber" [ngClass]="{'is-invalid': submitted && f['phoneNumber'].errors, 'is-valid': !f['phoneNumber'].errors}" />
                            <div class="warnings">
                                <div *ngIf="submitted && f['phoneNumber'].errors" class="invalid-feedback"></div>
                                <div class="valid-feedback" *ngIf="!f['phoneNumber'].errors">phone number is valid</div>
                                <div *ngIf="f['phoneNumber'].errors?.['required']" class="text-danger mx-1">phone number is required</div>
                                <div *ngIf="f['phoneNumber'].errors?.['pattern']" class="text-danger">phone number is invalid</div>
                            </div>
                        </div>
                    
                        <div class="d-flex justify-content-between flex-column w-100">
                            <input class="form-control w-100" type="text" placeholder="Address" formControlName="address" [ngClass]="{'is-invalid':submitted && f['address'].errors, 'is-valid': !f['address'].errors}" >   
                            <div class="warnings">
                                <div *ngIf="submitted && f['address'].errors" class="invalid-feedback"></div>
                                <div class="valid-feedback" *ngIf="!f['address'].errors">address is valid</div>
                                <div *ngIf="f['address'].errors?.['required']" class="text-danger mx-1">address is required</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="enabled-fields form-group d-flex container justify-content-between m-0 p-0 ">
                    <div class="w-100">
                        <input class="form-control w-100" type="text" placeholder="Company Name" formControlName="companyName" [ngClass]="{'is-invalid':submitted && f['companyName'].errors, 'is-valid': !f['companyName'].errors}" >    
                        <div class="warnings">
                            <div *ngIf="submitted && f['companyName'].errors" class="invalid-feedback"></div>
                           <div class="valid-feedback" *ngIf="!f['companyName'].errors">company name is valid</div>
                            <div *ngIf="f['companyName'].errors?.['required']" class="text-danger mx-1">company name required</div>
                        </div>
                    </div>
    
                    <div class="dropdown-container form-control">
                        <select class="dropdown" formControlName="gender" name="gender" id="gender">
                            <option value="" [disabled] [selected]="1" hidden>Select Gender</option>
                            <option value="Male">Male</option>
                            <option value="Female">Female</option>
                            <option value="Prefer Not To Say">Prefer Not To Say</option>
                        </select>
                    </div>
                </div>
            </div>
                <div class="btn-container mt-3">
                    <div class="submit-button">
                    <button type="submit" class="btn btn-primary w-100" [disabled]="createProfileForm.invalid">Save</button>
                    <button class="btn btn-success w-100 mt-2" (click)="updateProfile()" [disabled]="createProfileForm.invalid">Update</button>
                </div>
            </div>
            </form>
        </div>
    </div>
    
</div>